@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;

}
.brand-logo{
  font-family: 'Grand Hotel', cursive;
}
.headers{
  font-family: 'Grand Hotel', cursive;
}
.card{
  max-width: 400px;
  margin-left: 450px;
  margin-top: 50px;
 
}
.auth-card{
  padding: 20px;
  max-width: 400px;
  text-align: center;
  margin: 10 auto;
  
 
}

 input[type=text]:focus {
  border-bottom: 1px solid rgb(4, 22, 122) !important;
  box-shadow: 0 1px 0 0 rgb(4, 22, 122) !important;
}
.btn{
  background-color: rgb(94, 94, 241);
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.item{
 width:30%;
}
.home-card{
  max-width:500px;
   height: max-content;
  margin: 26px auto;
}

.create{
  font-family: 'Grand Hotel', cursive;
  text-align: center;
}
 .card-header{
   margin: 60px auto;
 }
.card-container{
  padding: 30px;
  text-align: center;
  

}
#toast-container{
  top:30px;
  right: 20px;
  left:auto;
  
}